*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: antiquewhite;
    display: grid;
    height: 100vh;
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    /*grid-template-areas: "header header" 
    "sidebar main main"
    "footer footer footer"*/
    /*column-gap: 20px;
    row-gap: 20px;*/
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}

.item {
    padding: 20px;
}

.item1 {
    background-color: aqua;
}

.item2 {
    background-color: brown;
    /*grid-area: main main;*/
}

.item3 {
    background-color: navy;
    /*grid-area: footer;*/
}

.item4 {
    background-color: pink;
    /*grid-column: 2/4;*/
    /*grid-area: header;*/
}

.item5 {
    background-color: red;
}

.item6 {
    background-color: yellow;
    /*grid-row: 1/4;*/
}

