*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    padding: 3%;
    background-color: brown;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 27;
}
.second {
    z-index: 25;
    position: relative;
}

#para {
    position: absolute;
    right: 10px;
    left:0px;
    bottom: 0px;
    top: 0px;

    
}
#label {
    display: inline;
    background-color: blueviolet;
}
#input {
    display: block;
    width: 100%;
    background-color: blue;
}
#third {
    display: inline;
    opacity: 0.5;
}

#new {
    display: none;
}

#test {
    position: center;
}