*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: yellow;
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.item {
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}

/*Tried the design below and it is not working. Ask your teacher in the next class*/
/*@media screen and (max-width: 767px) {
    body { 
        background-color: blue;
    }
}*/

@media screen and (max-width: 768px) {
    .item {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

@media screen and (max-width:480px) {
    .item {
        grid-template-columns: repeat(1, 1fr);
    }
}

